  <style>
    body {
      font-family: Arial, sans-serif;
    }

    .center-align {
      text-align: center;
    }

    .right-align {
      text-align: right;
    }

   
  </style>
</head>
<body>

  

  

</body>
</html>
